
#youtubecontainerdiv{
	position: relative;
	margin-top: -3%;
	height: 75%;
	width: 114%;
	margin-left:-7%;
	background-color: black;
}
#youtubecontainerdivenlarged{
	position: absolute;
	width: 100%;
	
}
#topicdiv{
	font-size:34px; font-family: OpenSans-Light, OpenSans, Arial, sans-serif; 
}
#youtubeframe{
	position: absolute;
	height: 100%;
	width:100% ;
	margin: auto;
}
#MiniContent{
	padding: 3%;
    color: #373A3C;
    font-size: 15px;
    font-family:'OpenSans',Arial,sans-serif;
}
#topicdiv{
	padding:0px 0px 0px 10px;
	border-bottom: 1px solid gray;
	font-size:34px; font-family: OpenSans-Light, OpenSans, Arial, sans-serif;
	margin-top:15px;
}
.topicdiv1{
	padding:0px 0px 0px 10px;
	border-bottom: 1px solid gray;
	font-size:28px; font-family: OpenSans-Light, OpenSans, Arial, sans-serif;
	margin-top:15px;

}
#MainContent {
	font-family: 'Roboto', sans-serif;
	padding:2% 5% 4% 5%;
	font-size: 17px;
	position: absolute;
	left:245px;
	height:100%;
	overflow:scroll;
	right:0%;
}

#MainContentEnlarged{
	position:absolute;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding:2%;
	overflow:scroll;
	height:100%;

}
@media screen and (min-width: 900px){
#LeftDiv{
	width:245px;
	position:absolute;
	background-color:#ffff66;
	height:100%;
	bottom:0%;
	overflow:scroll;
}
.YouTubeSolution{height:70%;}
}
.LeftMenuListItemText{text-align:center;}
@media screen and (max-width: 900px){
	#LeftMiniContent{font-size:15px;}
	#LeftDiv{
	width:245px;
	position:absolute;
	background-color:#ffff66;
	height:100%;
	bottom:0%;
	overflow:scroll;
}
#MainContent{font-size:;}
}
@media screen and (max-width:800px){
	#LeftMiniContent{font-size:20px;}
	.LeftMenuListItemText{font-size:15px;text-align:center;}
#MainContent{font-size: ;}
}
@media screen and (min-width: 700px){
	#Main{height:90%;}
	#TopHeader{height:10%;}
}
@media screen and (max-width: 700px) {
	#youtubecontainerdiv{	width: 104%;
		height: 60%;
		margin-left:-2%;}
	#LeftMiniContent{font-size:25px;}
	.LeftMenuListItemText{font-size:25px;text-align:center;}
  #MainContent {
  position:static;
  width: 100%;
  margin: 1px 1px 1px; padding:2%; font-size: ;
  order:1;
  }
  #MainContentEnlarged{font-size: 12px;}
 #Main{height:92%;}
 #TopHeader{height:8%;}
  #BigContent{font-size: 25px;}
  #LeftDiv{width:245px;
  position:absolute;
	background-color:#ffff66;
	display:hidden;
	bottom:0%;
	overflow:scroll;
	order:2;}
} 
#TopHeader{
	position:relative;
	background-color:;
	/* height:10%; */
	border-bottom:1px solid gray;
}
#Main{
	position:relative;
	height:90%;
	bottom:0%;
	
}

#Footer{
	border-top:1px solid gray;
	position:relative;
	text-align:center;	
}
#LeftDiv{
	z-index:1;
}
#GreySpace{
	z-index: 1;
	position: absolute;
	z-index:1;
	height:100%;
	left: 245px;
	display:none;
	opacity:0.5;
	right: 0px;
	background-color: #373A3C;
}

#HeaderLogo{display:relative;
	width:40%;
}

#HeaderLogoImage{
	border:1px solid black;
	position:absolute;
	height:100%;

}

#HeaderLogoText{
	border:1px solid black;
	align-items:center;
	position:relative;
	height:100%;
	text-align: center;
	font-family:'Roboto';
	margin-left:1%;
}
#LeftMiniContent{
	text-align:center;
	margin:5%;
	position:relative;
	
	font-family:'Roboto';
}
.BlackHR{
	border:1px solid black;
}
#LeftMenu{
	position:relative;
	
	
}

.LeftMenuListItem{
	border:1px solid black;
	width:90%;
	margin:5%;
	background-color:;
	text-align:center;
	overflow-wrap: break-word;

}
.LeftMenuListItem:hover{
	border-color:#FFEC19;
	border:1px solid red;
	border-radius:5px;
	color:#FF0000;
	background-color:#FFEC19;
	font-weight:bold;
}
.LeftMenuListItemSelected{
	border:1px solid black;
	width:90%;
	margin:5%;
	background-color:red;
	overflow-wrap: break-word;
	color:white;
}

#TopHeaderSVG{
	position:absolute;
	justify-content:center;
	height:100%;
	width:40%;
	left:30%;
}
#TopHeaderSVG:hover{
	fill:blue;
	border:1px solid blue;
}
#LeftMenuButton {
  position:absolute;
  height:90%;
  top:5%;
  left:5px;

  
}
.QuestionText{background-color:gray; padding:2%}
.SolutionText{padding:2%;}
#LeftMenuButton:hover{
	  border:1px solid gray;
  border-radius:2px;
  cursor:pointer;
}
#LeftMenuButton{
	border:1px solid black;
	border-radius:2px;
}

#MainContentEnlarged,#LeftDiv,#MainContent,body{
	overflow-x:hidden;
	
}

body::-webkit-scrollbar{
	width:0;
}
.overflowdiv{overflow-x:auto;}
.overflowdiv::-webkit-scrollbar{width: 0.02px;}
#LeftDiv::-webkit-scrollbar,#MainContent::-webkit-scrollbar,#MainContentEnlarged::-webkit-scrollbar {
  width: 0.5em;
}
 
.overflowdiv::-webkit-scrollbar-track,#LeftDiv::-webkit-scrollbar-track,#MainContent::-webkit-scrollbar-track,#MainContentEnlarged::-webkit-scrollbar-track,body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px yellow;
}
 
.overflowdiv::-webkit-scrollbar-thumb,#LeftDiv::-webkit-scrollbar-thumb,#MainContent::-webkit-scrollbar-thumb,#MainContentEnlarged::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
  background-color: red;
}

.LessonHead{
    cursor: pointer;
    width: 192px;
    height: 32px;
    padding: 6px 24px;
    color:#000000DE;
    font-size: 14px;
    font-family:OpenSans,Arial,sans-serif;
}
.LessonItem{
    width: 240px;
    padding: 8px 24px 8px 18px;
    position: relative;
}
.LessonItem:hover{
    background: #F7F7F7;
}
.LessonItemIconContainer{
    position: relative;
    width:32px;

}
.LessonItemIcon{
    position: absolute;
    width:20px;
    height:20px;
}
.LessonItemTextContainer{
    position: relative;
    left:32px;
    width:160px;
    background-color:;
}
.LessonItemText{
    color: #373A3C;
    font-size: 12px;
    font-family:'OpenSans',Arial,sans-serif;
}
.LessonItemSubText{
    margin:2px 0px 0px;
    color: #6B6B6B;
    font-size: 12px;
    font-family:'OpenSans',Arial,sans-serif;
}
.LessonProgress{
    width:50%;
    height:5px;
    background-color: red;
    position: relative;
}
