 
/*
ScrollBar
*/

/*
Content

*/
#YouTubeSolution{position:fixed;height:40%;bottom:2%;right:2%;border:0.5px solid black;}
@media screen and (max-width: 400px){
	#YouTubeSolution{bottom:2%;height:32%;width:96%;right:2%;}
}
#videoWrapper {
	padding-bottom:62.25%;
}
#videoWrapper iframe{
	
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.VideoSolutionButton{
	padding:3%;
	background-color:yellow;
	text-align:center;
	color:black;
}

.VideoSolutionButton:hover{
	border:1px solid black;
}


#MainContent {
    font-family: 'Roboto', sans-serif;font-size: 19px;
	padding:2%;
	position: absolute;
	left:20%;
	
	height:100%;
	overflow:scroll;
	width:80%;
}

#MainContentEnlarged{
	position:absolute;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	padding:2%;
	overflow:scroll;
	height:100%;

}
@media screen and (min-width: 900px){
#LeftDiv{
	width:20%;
	position:absolute;
	background-color:#ffff66;
	height:100%;
	bottom:0%;
	overflow:scroll;
}
.YouTubeSolution{height:70%;}
}
.LeftMenuListItemText{text-align:center;}
@media screen and (max-width: 900px){
	#LeftMiniContent{font-size:15px;}
	#LeftDiv{
	width:20%;
	position:absolute;
	background-color:#ffff66;
	height:100%;
	bottom:0%;
	overflow:scroll;
}
#MainContent{font-size:;}
}
@media screen and (max-width:800px){
	#LeftMiniContent{font-size:20px;}
	.LeftMenuListItemText{font-size:15px;text-align:center;}
#MainContent{font-size: ;}
}

@media screen and (max-width: 700px) {
	#LeftMiniContent{font-size:25px;}
	.LeftMenuListItemText{font-size:25px;text-align:center;}
  #MainContent {
  position:static;
  width: 100%;
  margin: 1px 1px 1px; padding:2%; font-size: ;
  order:1;
  }
  #MainContentEnlarged{}
 
  #BigContent{font-size: 25px;}
  #LeftDiv{width:100%;
  position:absolute;
	background-color:#ffff66;
	display:hidden;
	bottom:0%;
	overflow:scroll;
	order:2;}
} 
#TopHeader{
	position:relative;
	background-color:;
	height:10%;
	border-bottom:1px solid gray;
}
#Main{
	position:relative;
	height:90%;
	bottom:0%;
	
}

#Footer{
	border-top:1px solid gray;
	position:relative;
	text-align:center;	
}

#HeaderLogo{display:relative;
	width:40%;
}

#HeaderLogoImage{
	border:1px solid black;
	position:absolute;
	height:100%;

}

#HeaderLogoText{border:1px solid black;
/* 	display:flex;
	justify-content:center; */
	align-items:center;
	position:relative;
	height:100%;
	text-align: center;
	font-family:'Roboto';
	margin-left:1%;
}
/* #HeaderLogoText p{
	 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
#LeftMiniContent{
	text-align:center;
	margin:5%;
	position:relative;
	
	font-family:'Roboto';
}
.BlackHR{
	border:1px solid black;
}
#LeftMenu{
	position:relative;
	
	
}

.LeftMenuListItem{
	border:1px solid black;
	width:90%;
	margin:5%;
	background-color:;
	text-align:center;
	overflow-wrap: break-word;

}
.LeftMenuListItem:hover{
	border-color:#FFEC19;
	border:1px solid red;
	border-radius:5px;
	color:#FF0000;
	background-color:#FFEC19;
	font-weight:bold;
}
.LeftMenuListItemSelected{
	border:1px solid black;
	width:90%;
	margin:5%;
	background-color:red;
	overflow-wrap: break-word;
	color:white;
}

#TopHeaderSVG{
	position:absolute;
	justify-content:center;
	height:100%;
	width:40%;
	left:30%;
}
#TopHeaderSVG:hover{
	fill:blue;
	border:1px solid blue;
}
.LeftMenuListItemText{
position:relative;
	left:10%;
	width:80%;
	top:0%;
	bottom:0%;
	font-family:'Roboto';
	/* font-size:22; */
}
.LeftMenuListItemIcon{
	position:relative;
	width:30;
	height:30;

}
/* LeftMenuButtonStuff*/
#LeftMenuButton {
  position:absolute;
  height:90%;
  top:5%;
  left:5px;

  
}
.QuestionText{background-color:gray; padding:2%}
.SolutionText{padding:2%;}
#LeftMenuButton:hover{
	  border:1px solid gray;
  border-radius:2px;
  cursor:pointer;
}
#LeftMenuButton{
	border:1px solid black;
	border-radius:2px;
}


/* #LeftMenuButtonImage{
	position:relative;
	height:100%;
}
.LeftMenuButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.LeftMenuButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.LeftMenuButton:hover span {
  padding-right: 25px;
}

.LeftMenuButton:hover span:after {
  opacity: 1;
  right: 0;
} */
#MainContentEnlarged,#LeftDiv,#MainContent,body{
	overflow-x:hidden;
	
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
	width:0;
}
.overflowdiv{overflow-x:auto;}
.overflowdiv::-webkit-scrollbar{width: 0.02px;}
#LeftDiv::-webkit-scrollbar,#MainContent::-webkit-scrollbar,#MainContentEnlarged::-webkit-scrollbar {
  width: 0.5em;
}
 
.overflowdiv::-webkit-scrollbar-track,#LeftDiv::-webkit-scrollbar-track,#MainContent::-webkit-scrollbar-track,#MainContentEnlarged::-webkit-scrollbar-track,body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px yellow;
}
 
.overflowdiv::-webkit-scrollbar-thumb,#LeftDiv::-webkit-scrollbar-thumb,#MainContent::-webkit-scrollbar-thumb,#MainContentEnlarged::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
  background-color: red;
}

